@import "tailwindcss";

@theme {
  --color-primary: #1b3022;
  --color-accent: #e87a5d;
  --color-highlight: #f9dec9;
  --color-light-bg: #fdfcf9;
  --color-text-main: #2d3e33;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  background-color: var(--color-light-bg);
  color: var(--color-text-main);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--color-primary);
  font-weight: 800;
}

/* Smooth transitions for buttons */
button,
a {
  transition: all 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
